.cashGivenInput {
    display: none;
    padding-left: 20px;
    width: 85%;
    padding-top: 1px;
    padding-bottom: 31px;
}

.changeReturn {
    display: none;
}

body {
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container {
    background-color: rgba(160, 209, 252, 0.7);
    width: 95%;
    max-width: 600px;
    margin: auto;
    padding: 0.9rem 0rem;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #003e76;
    align-items: center;
}


/* bill section */
.billBox {
    padding-left: 20px;
    width: 85%;
    padding-top: 1px;
    padding-bottom: 31px;
}


/* billInput */
#billAmount {
    display: block;
    width: 90%;
    padding: 1rem;
    margin: auto;
    font-size: 1rem;
    box-shadow: 15px 13px 23px #aaa;
    border-color: white;
    border-radius: 0.5rem;

}

/* nextbutton */
#nextBtn {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    box-shadow: 15px 13px 23px #aaa;
    border-color: white;
    border-radius: 0.5rem;

}


/* cashGivenInput section */
/*cash given heading  */

/* cashInput */
#cashGiven {
    display: block;
    width: 90%;
    padding: 1rem;
    margin: auto;
    font-size: 1rem;
    box-shadow: 15px 13px 23px #aaa;
    border-color: white;
    border-radius: 0.5rem;

}

/* checkbtn */
#checkBtn {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    box-shadow: 15px 13px 23px #aaa;
    border-color: white;
    border-radius: 0.5rem;

}


/* outputsection */
.changeReturn {
    /* padding-left: 20px; */
    width: 85%;
    padding-top: 1px;
    padding-bottom: 31px;

}

/* Note section */

.noOfNotes {
    /* background-color: white; */

    padding: 0.6rem;
    box-shadow: 15px 13px 23px #aaa;
    border-color: white;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    width: 20%;

}

.Noof {
    width: 20%;
    padding: 0.6rem;
    background-color: rgb(170, 163, 154);
    font-size: 0.8rem;
    font-weight: bold;
}

.amount {
    width: 20%;

    /* background-color: white; */
    padding: 0.6rem;
    box-shadow: 15px 13px 23px #aaa;
    border-color: white;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;

}